@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Seymour+One&display=swap');
/*------------------General------------------*/
* {
    box-sizing: border-box; /*Helps with sizing the eliments*/
}

body {
    margin: 0;
    background-color: rgb(5, 179, 92);
}


.instructions {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/*------------------title------------------*/
.title {
    font-family: 'Seymour One', sans-serif;
    color: #ffffff;
    
}

/*------------------learn------------------*/

.learn {
    font-family: 'Seymour One', sans-serif;
    color: #ffffff;
    
    
}

.num {
  
  background-color: #f8bf03;
  
}