@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto&display=swap');
/*------------------General------------------*/
* {
    box-sizing: border-box; /*Helps with sizing the eliments*/
}

body {
    font-family: 'Ribeye', sans-serif;
    color: white;
    margin: 0;
    background-color: rgb(17, 0, 255);
}


/*------------------title------------------*/
.title {
    font-family: 'Ribeye', sans-serif;
    color: #ffffff;
    font-size: 400%;
    
}


/*------------------Counter and Turns------------------*/

.info {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.gameinfo {
    font-family: 'Ribeye', sans-serif;
    color: #ffffff;
    font-size: 300%;
    
}


/*------------------Cards------------------*/
.gameboard {
    background-color: rgb(17, 0, 255);
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    margin: 20px;
    justify-content: center;

}
.card {
    background-color: rgb(255, 255, 255);
    height: 175px;
    width: 250px;
}



